body {
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
/* body {background-image: linear-gradient(to right, rgba(66, 201, 66, 0.7),  rgba(41, 105, 41,0.9));
  } */

.container{
  /* font-family: Ubuntu, Lato, sans-serif; */
  max-width: 375px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 13px 45px;
  border-radius: 10px;
}

.income {
  color: rgba(0,150,0,1);
}

.expense {
  color: rgba(200,0,0,1);
}

.text-center {
  text-align: center;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}

.transaction-list {
  margin: 0;
  padding: 0;
}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 8px 13px;
  background-color: white;
  margin: 5px 0;
  border-radius: 4px;
}

.transaction-form input {
  width: 100%;
  margin: 10px 0;
  padding: 4px 4px;
}

.del{
  position: relative;
  background-color: lightcoral;
  top: 35px;
  right: 30px;
  color: white;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 0.3s ease;
}
.del:hover {
  opacity: 1;
}
.submitButton {
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color:green;
}
footer {
  font-weight: bold;
  font-family: Lato;
  padding: 5px;
}
